@media (max-width: 390px) {
  .wrapper {
    background-image: url('../assets/img/garrett-parker-mobile.jpg'), url('../assets/img/rectangle28.jpg');
  }
  .header-container {
    align-items: flex-start;
    height: 36.41vw;
    background-image: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 44%);
    background-color: transparent;
    box-shadow: none;
  }
  .header-container-logo {
    margin: 45px 16px;
  }
  .header-container-logo img {
    width: 29px;
    height: 30px;
  }
  .header-logo-title {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-login-button {
    display: none;
  }
  .header-burgermenu-button {
    display: contents;
  }
  .header-burgermenu-button img {
    margin: 43px 20px;
  }
  .preview-section {
    width: 100vw;
    height: 26.92vw;
    margin: 0;
  }
  .preview-title {
    display: none;
  }
  .preview-subtitle {
    display: none;
  }
  .preview-form {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 92.3vw;
    height: 12.31vw;
    border-radius: 16px;
  }
  .preview-form-input,
  .preview-form-input::placeholder {
    width: 57.95vw;
    font-size: 14px;
    line-height: 17px;
    margin-left: 4px;
    margin-top: 3px;
  }
  .preview-form-button {
    width: 23.59vw;
    height: 30px;
    font-size: 2.82vw;
    line-height: 15px;
    border-radius: 10px;
    margin-right: 9px;
  }
  .section-title {
    font-size: 14px;
    line-height: 19px;
  }
  .steps-gallery {
    width: 92.5vw;
  }
  .steps-card {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
  }
  .steps-card:nth-child(1) {
    width: 25vw;
    margin-right: 0;
  }
  .steps-card:nth-child(2) {
    width: 34vw;
    margin-left: 4px;
    align-items: center;
    text-align: center;
  }
  .steps-card:nth-child(3) {
    width: 26vw;
    align-items: flex-end;
    text-align: right;
  }
  .steps-icon-box {
    margin: 0;
    height: 70px;
    width: 70px;
    border-radius: 16px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .steps-icon-box img {
    width: 35px;
    height: auto;
  }
  .steps-card:nth-child(3) img {
    width: 40px;
  }
  .destinations-section {
    position: relative;
    margin-top: -2px;
  }
  .destinations-slider {
    width: 300vw;
    margin-top: 9px;
  }
  .destinations-slider.left {
    transform: translateX(104vw);
  }
  .destinations-slider.center {
    transform: translateX(0px);
  }
  .destinations-slider.right {
    transform: translateX(-104vw);
  }
  .slider-arrow-left {
    position: absolute;
    z-index: 30;
    top: 48%;
    left: 107vw;
    width: 15px;
    height: 25px;
    background-image: url("../assets/svg/slider-arrow-left.svg");
    background-repeat: no-repeat;
  }
  .slider-arrow-right {
    position: absolute;
    z-index: 30;
    top: 48%;
    right: 107vw;
    width: 15px;
    height: 25px;
    background-image: url("../assets/svg/slider-arrow-right.svg");
    background-repeat: no-repeat;
  }
  .destinations-slide {
    position: relative;
    width: 92vw;
    height: 54vw;
    border-radius: 16px;
  }
  .slider-subtitle {
    font-size: 5.13vw;
    line-height: 26px;
    margin-top: -52.82vw;
    margin-left: 3.8vw;
  }
  .destinations-slide-photo {
    width: 92.3vw;
  }
  .destinations-pagination {
    position: absolute;
    margin-top: 61.8vw;
    width: 100vw;
  }
  .destinations-pagination-button {
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background: #f2785c;
    opacity: .5;
  }

  .destinations-button {
    font-size: 11px;
    line-height: 15px;
    width: 92px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 12px;
  }
  .destinations-button-icon {
    width: 10px;
  }
  .stories-section {
    margin-top: 8px;
  }
  .stories-box {
    padding: 0 3.85vw;
    padding-top: 2.56vw;
    padding-bottom: 3.59vw;
  }
  .stories-lead {
    margin-bottom: 2.82vw;
  }
  .stories-lead-img {
    width: 39.74vw;
    height: 33.33vw;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 2.56vw;
  }
  .stories-lead-title {
    font-size: 2.82vw;
    line-height: 13px;
    font-weight: 700;
    margin-top: 1.03vw;
  }
  .stories-lead-description {
    width: 50vw;
    font-size: 2.3vw;
    line-height: 2.82vw;
  }
  .stories-lead-text {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2.7vw;
  }
  .readmore {
    position: absolute;
    margin-top: -2.3vw;
  }
  .stories-button {
    margin-top: -6px;
    padding: 0 14px;
  }
  .footer-container {
    justify-content: center;
    width: 100vw;
    height: 16.67vw;
  }
  .footer-copyright,
  .my-socialmedia-list {
    display: none;
  }
  .socialmedia-list {
    padding: 0 0 2px 10px;
  }
  .socialmedia-item {
    margin: 0 11px;
  }
  .socialmedia-icon {
    width: 8.3vw;
    height: auto;
  }
}