* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ccc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}

.wrapper {
  margin: 0 auto;
  background-image: url('../assets/img/garrett-parker.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-color: #FFF;

}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-container {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  height: 90px;
  background-color: rgb(242, 120, 92, .7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-container-logo {
  margin: 0 0 1px 120px;
}

.header-logo-title {
  margin-left: 3px;
  font-family: 'Magra', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFF;
  text-decoration: none;
}

.header-nav {
  margin-right: 28px;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  padding-right: 42.5px;
}

.header-nav-link {
  text-decoration: none;
  color: #FFF;
}

.header-login-button {
  width: 103px;
  height: 41px;
  margin-right: 120px;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: #FFF;
  text-decoration: none;
}

.main-container {
  justify-content: center;
  overflow: hidden;
}

.preview-section {
  width: 892px;
  height: 675px;
  margin-right: 307px;
}

.preview-title {
  margin: 32px 0 32px;
  font-family: 'Aleo';
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview-subtitle {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.preview-form {
  display: flex;
  align-items: center;
  padding-left: 39px;
  width: 892px;
  height: 95px;
  margin-top: 46px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: none;
}

.preview-form-input,
.preview-form-input::placeholder {
  width: 560px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: 0px;
  background: none;
}

.preview-form-button {
  width: 228px;
  height: 59px;
  margin-left: 47px;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0;
}

.steps-section {
  margin-top: 47px;
}

.section-title {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #F2785C;
}


.steps-gallery {
  display: flex;
  justify-content: space-between;
  width: 1177px;
}

.steps-card {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.steps-card:nth-child(1) {
  margin-right: 71px;
}

.steps-icon-box {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: auto; 
  background: #F2785C;
  border-radius: 16px;
  margin-top: 7px;
  margin-bottom: 30px;
}

.steps-icon-box img {
  align-self: center;
}


.destinations-section {
  margin-top: 43px;  
}

.destinations-slider {
  display: flex;
  justify-content: space-between;
  width: 2520px;
  margin-top: 13px;
}

.destinations-slide {
  width: 800px;
  height: 800px;
  border-radius: 16px;
  overflow: hidden;
}

.slider-subtitle {
  position: absolute;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -86px;
  margin-left: 15.5px;
}

.destinations-pagination {
  display: flex;
  justify-content: center;
  width: 2520px;
  margin: auto;
  margin-top: 24px;
  height: 20px;
}

.destinations-pagination-button {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.destinations-pagination-button:nth-child(2) {
  background: rgba(242, 120, 92);
}

.destinations-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFF;
  width: 228px;
  height: 59px;
  margin-top: 40px;
  padding: 0 32px;
  border: 0;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.stories-section {
  margin-top: 47px;
}
